*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
}
#barra {
    width: 100vw;
    height:150px;
    background-color: #081c24;
    margin-top: -150px;
}
input {
    margin-left: 20px;
}
h1 {
    color:grey;
    font-size: 45px;
    margin-left: 20px;
}
.film-container {
    min-height:100vh;
    width: auto;
    background-color: #9cabb0;
    margin-top: 150px;
}
.copertina {
    height:50px;
    width: 100%;
}
.film {
    margin-bottom: 50px;
    background-color: darkorange;
    height:auto;
    width: 200px;
}
h3 {
    font-size: 30px;
}
#ot {
    font-size: 30px;
}
.film span {
    display: block;
}
